
@{
    ViewBag.Title = "MZR Validate Example";
}

<div class="jumbotron vertical-center">
    <div class="container text-center" ng-controller="IndexCtrl">
        <div class="row">
            <form class="form-horizontal" role="form" novalidate>
                <div class="form-group form-group-sm">
                    <label class="col-xs-3 control-label text-right">Passport No.</label>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-xs-3 control-label text-right">Nationality</label>
                    <div class="col-xs-5">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-xs-3 control-label text-right">Date of Birth</label>
                    <div class="col-xs-1">
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-xs-1">
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-xs-1">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-xs-3 control-label text-right">Gender</label>
                    <div class="col-xs-5">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-xs-3 control-label text-right">Date of Expiry</label>
                    <div class="col-xs-1">
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-xs-1">
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-xs-1">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/static/js/controller.js"></script>
